/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.input-group i {
    font-size: 18px;
    color: #888;
    margin-right: 10px;
}

input[type="text"],
input[type="password"] {
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    width: 100%;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: #888;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-btn:hover {
    background-color: #0056b3;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .container {
        max-width: 300px;
    }
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #fff;
    color: #fff;
    font-size: 48px;
    text-align: center;
    line-height: 128px;
    font-weight: bold;
    margin-bottom: 10px;
    overflow: visible;
}